body {
    color: #88909d;
    font-family: 'Cyntho Pro' serif;    
    margin-top: 20px;
}

h2 {
    text-transform: uppercase;
    font-stretch: condensed;
    font-size: 20px;
}

.img_logo {
    padding: 10px;
}

.img_logo img {
    max-width: 115%;
}

.about_me {
    max-width: 90%;    
}

/* ????????? отступ перед первым абзацем
.about_me > p:first-child {
    margin-top: 15px;   
}
*/


i {
    color: #b0b7c3;
    float:left;
    padding-right: 15px;
    padding-top: 4px;   
}

.contacts p {
    color: #279cd9;
}

.contacts:before {
    content: url(../pictures/bug_line.png);
    display: block;
    text-align: center;    
    margin-top: 40px;
    margin-bottom: 22px;
}

.contacts img {
    width: 25px;
    margin-left: -20px;
    margin-right: 5px;
}


.work_experience h3 {
    font-size: 20px;
    font-stretch: condensed;
    font-weight: bold;
    color: #419ecd;
}

.work_experience p {
    text-transform: uppercase;
    font-size: 11px;
}

.work_experience span {
    font-size: 16px;    
    text-transform: none;
}

.work_experience ul li:last-child h3 {
    color: #a1ce50
}

.work_experience ul {
    list-style-type: none;
}

.work_experience ul li:last-child h3:before {
    content: '\29BF';
    margin-left: -30px;
    margin-right: 10px;    
}

 .strip:before {
    content: "";
    width: 6px;
    height: 99px;
    background-color: #3d9ccc;
    border-radius: 2px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    position: relative;
    top: 20px;
    left: -22px;
    float: left;
    box-shadow: 0 0 4px -1px gray;
}


.dot:after {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 8px;
    position: relative;
    top: -75px;
    left: -27px;
    z-index: -1;
    border: solid 1px LightGray;
}



.skills {
    margin-top: 5vw;
}

.skills_item,
.projects_item {
    display: inline-block;
    text-align: center
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    text-align: center;
    border: 6px solid #ececec;
    line-height: 175px;   
    margin: auto;
    margin-top: 40px;
}

.circle p {
    text-align: center;
    font-size: 65px;    
    font-weight: lighter;
    padding-left: 10px;
    font-weight: 200;
    
}

.circle span {
    font-size: 25px;  
    vertical-align: super;
}

.more_skills {
    margin-top: 3vw;    
}

.more_skills_item {
    text-align: center;
}

.more_skills p:before {
    content: ' \25CF';
    color: #ececec;
    padding-right: 6px;   
    margin-right: 5px;
    display: inline-block;    
}

.underline:after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    border-bottom: solid 2px #88909d;
}

.instruments,
.last_projects,
.interests{
    margin-top: 12vh;
}

.instruments_item ul{
    list-style-type: none;
    margin-left: -50px;
    width: 100%;
    margin-top: 5vh;
}

.instruments_item li {    
    text-transform: uppercase;
    color: white;
    background-color: #ececec;
    border-radius: 5px;
    margin-bottom: 2vh; 
    width: 100%;
}

.instruments_item div{
    padding: 5px 0 5px 15px;
}

.instruments_item_photoshop {
    background-color: #1ba0e1;
    width: 90%;
    border-radius: 5px;
}

.instruments_item_illustrator {
    background-color: #8cbf26;
    width: 70%;
    border-radius: 5px;
}

.instruments_item_indesign {
    background-color: #b664e6;
    width: 40%;
    border-radius: 5px;
}

.instruments_item_sketch {
    background-color: #25b9b8;
    width: 15%;
    border-radius: 5px;
}

.instruments_item_axure {
    background-color: #f09709;
    width: 50%;
    border-radius: 5px;
}


table {    
    border: 1px solid #ececec;
    border-radius: 5px;
    width: 100%;
    border-collapse: separate;      
    border-spacing: 5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}
    
caption {
    margin-top: 0;
}

.rigth_side_table {
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 14px;
}

.projects,
.my_interests{
    margin-top: 55px;
}

.interests img{
    margin-top: 2vh;  
    width: 99%
}

.interests_items {
    display: inline-block;
} 

footer {
    margin-top: 15vh;  
    text-align: center;
}

footer p {
    font-style: italic;
    font-family: 'Monotype Corsiva' cursive;
    font-size: 18px;
    color: #88909d;
    position: relative
}

footer p:after {
    content: "";
    display: block;
    width: 70px;
    height: 0px;    
    border-bottom: solid 1px #88909d;
    position: absolute;
    text-align: center;
    left: 46%
}
    

footer img {
    margin-top: 5vh;
    width: 15%
}



